body
{
    margin-top: 50px;
}

.rounded
{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-left: 15px;
    display: inline;
    float: left;
    cursor: pointer;
}

.circle
{
    width: 200px;
    height: 150px;
    border-radius: 200%;
    margin-left: 15px;
    display: inline;
    float: left;
    cursor: pointer;
}

.border
{
    width: 190px;
    height: 140px;
    border: 1px solid gray;
    padding: 5px;
    margin-left: 15px;
    display: inline;
    float: left;
    cursor: pointer;
}

.container
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    display: inline;
    float: left;
    cursor: pointer;
}

.text-container
{
    
    position: absolute;
    left: 20px;
    bottom: 5px;
    color: white;
    font-size: 16px;
}

.clear
{
    clear: both;
}