body
{
    margin: 100px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}



.container
{
    width:60%;
    height: 500px;
    background-color: #ffff;
    margin: 0 auto;
}

.container .left
{
    float: left;
    width: 50%;
    height: 500px;
    background-color: brown;
}



.container .right
{
    float: left;
    width: 50%;
    background-color: white;
    height: 500px;
}



.content
{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
}



.content h1
{
    color: white;
    font-weight: bolder;
}

.content h2
{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.content .line
{
    width: 100%;
    color: white;
    font-weight: bold;
}


.content .title
{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}


.content .btn
{
    margin-bottom: 20px;
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 10px;
    text-align: left;
}


.content .link
{
    text-decoration: none;
    color: white;
}

.content .fbbutton
{
    
    background-color: blue;
    color: white;
    cursor: pointer;
}



.content .gbutton
{
    
    background-color: red;
    color: white;
    cursor: pointer;
}



.content .tbutton
{
    
    background-color: #1877F2;
    color: white;
    cursor: pointer;
}




/*
    right div
*/

.formbox
{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
     
}

.formbox h3 
{
    font-size: 20px;
    font-weight: bolder;
}


.formbox p
{
    color:brown;
}

.formbox p a
{
    text-decoration: none;
}



.formbox input
{
    
    border: 1px solid grey;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 25px;
}


.formbox .check
{
    width: 10%;

}

.formbox span
{
    color: grey;
    font-weight: bolder;
}



.formbox .login
{
    border: none;
    background-color: red;
    color: white;
    width: 25%;
    cursor: pointer;
    transition: background-color 0.15s;
}

.formbox .login:hover
{
    background-color: rgb(185, 65, 65);
}

.formbox .forgot
{
    color: brown;
    text-decoration: none;
}


/*

.formbox .login-btn
{
    

    margin-bottom: 20px;

}


*/
