body
{
    padding-top: 65px;
}

.h1
{
    background-color: sandybrown;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.h2
{
    background-color: blueviolet;
}
.h3
{
    background-color: yellow;
}
.para
{
    background-color: aquamarine;
}


.para1
{
    background-color: aqua;
}