
.font_family
{
    font-family: monospace;
}


.font_size
{
    font-size: 30px;
}

.font_weight
{
    font-weight:lighter;
}

.font_style
{
    font-style: italic;
}

.font_stretch
{
    font-stretch: ultra-expanded;
}
