.wrapper
{
    width: 50%;
    border: 2px solid green;
    /*
    margin-left: 20%;
    margin-top: 80px;
    */
    margin: 0 auto;   /*center alignment*/
}

.head
{
    border: 1px solid blue;
    margin: 20px;

}

.para
{
    border: 1px solid crimson;
    margin: 20px;

}