body
{
    width: 90%;
    margin: 0 auto;
}

#content
{
    background-color: khaki;
    padding: 10px;
}   

#leftsidebar
{
    width: 20%;
    float: left;
    margin-right: 3%;
}

#main
{
    width: 50%;
    float: left;
}

#sidebar
{
    width: 20%;
    float: right;

}

.clear
{
    clear: both;
}





