body
{
    width: 960px;
    margin: 0 auto;
}

#content
{
    background-color: khaki;
    padding: 10px;
}   

#leftsidebar
{
    width: 20%;
    float: left;
    margin-right: 3%;
}

#main
{
    width: 50%;
    float: left;
}

#sidebar
{
    width: 20%;
    float: right;

}

.clear
{
    clear: both;
}




.service
{
    border: 1px solid crimson;
    width: 30%;
    float: left;
    margin-right: 2%;
    text-align: center;
}


.gallery
{
    border: 1px solid gray;
    width: 30%;
    float: left;
    margin-right: 2%;
}